---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import Box from "../components/Box.astro";
---

<Layout title="Welcome to Astro.">
	<Button text="Aceptar" />
	<Button red>
		<b class="font-bold" slot="message">Mensaje</b>

		<span slot="icon">X</span>
	</Button>

	<Box
		imgSrc="/public/killjoy.jpg"
		name="killjoy"
		job="valorant agent"
		phone="3144717552"
		text1="holaaa"
		text2="holaaa"
		text3="holaaa"
		text4="holaaa"
	/>
</Layout>
